MAINNETADDRESS=0x0e0A1241C9cE6649d5D30134a194BA3E24130305
TESTNET_ADDRESS=0x76c52E83d7dcCc70107a66BAd44D042D22D06be7
DEV=true
KEY=mYsUperSecretWalletKey
ALCHEMYKEY=myAlchemyKey
ACCESSTOKEN=myMadeUpTradingViewAccesstoken
ALCHEMYGOERLIKEY=myAlchemyKey -- # this can be the same as your main alchemy key if so desired